<ion-content class="content">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center ion-text-center" size-lg="6" size-md="12">
        <ion-card>
          <ion-card-header>Prueba técnica</ion-card-header>
          <ion-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()" >
              <ion-row>
                <ion-col>
                  <ion-item tappable>
                    <ion-input
                      formControlName="email"
                      type="email"
                      placeholder="Email">
                    </ion-input>
                  </ion-item>
                  <validation-messages [control]="loginForm.controls.email" [enable]="loginSubmit"></validation-messages>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item tappable>
                    <ion-input
                      formControlName="password"
                      type="password"
                      placeholder="Contraseña">
                    </ion-input>
                  </ion-item>
                  <validation-messages [control]="loginForm.controls.password" [enable]="loginSubmit"></validation-messages>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item tappable>
                    <ion-label>Recordar</ion-label>                    
                    <ion-toggle formControlName="remember"></ion-toggle>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button type="submit">Acceder</ion-button>
                </ion-col>
              </ion-row>              
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
