.container {
  --background: white url(../../assets/images/background.webp) center top no-repeat;
  --background-size: cover;
}

.image-cropped {
    object-fit: cover;
    object-position: left;
    height: 200px;
    width: 200px;
    margin: 40px;
}

ion-card-header {
    font-size: 20px;
    font-weight: bold;
    margin-top: -20px;
}

.access-button-mobile {
  margin: 0px;
}

.access-button-web {
  width: 200px;
  margin-bottom: 20px;
  color: black;
}

.form-container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}